{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h1>Se Connecter </h1>
    <!-- Formulaire de connection -->

     <form method="post" action="{{ url_for('login') }}">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required>
      <button type="submit">Se connecter </button>
    </form>


{% endblock %}
